:root {
    --red-color: #ef5350;
    --gray-color: #f0f0f0;
    --blue-light-color: #bbdefb;
    --blue-color: #1e88e5;
    --dark-color: #212121;
}

body {
    color: var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, strong {
    font-weight: bold;
}

#location-details,
#error-msg {
    display: none;
}

.zipCode__form {
    background-color: var(--gray-color);
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}
.zipCode__form h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form__input {
    appearance: none;
    border: 1px solid #aaa;
    border-radius: .3rem;
    padding: .5rem
}

.form__btn {
    appearance: none;
    background-color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
    transition: all .2s ease-in-out;
}
.form__btn:hover {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

.zipCode__details {
    padding-top: 1rem;
    width: 100%;
}
.zipCode__details .container {
    margin: 0 auto;
    width: 310px;
}
.zipCode__details h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.location__item {
    margin-bottom: .5rem;
    width: 100%;
}
.location__item p span {
    font-size: 19px;
}
.location__item--img {
    padding-top: 1rem;
}
.location__item--img img {
    width: 100%;
}

.location__link {
    color: var(--dark-color);
    font-size: 14px;
}

.zipCode__error {
    background-color: var(--red-color);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}